.login-container {
    position: relative;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .floating-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  .floating-element {
    position: absolute;
    font-size: 3em;
    animation: float 6s ease-in-out infinite;
  }

  .utensil { top: 5%; left: 10%; }
  .laptop { top: 5%; right: 10%; }
  .chef-hat { bottom: 5%; left: 10%; }
  .cookie { bottom: 5%; right: 10%; }
  .pizza { top: 30%; left: 5%; }
  .burger { top: 30%; right: 5%; }
  .salad { bottom: 30%; left: 5%; }
  .tablet { bottom: 30%; right: 5%; }
  .cake { top: 55%; left: 80%; }
  .coffee { top: 55%; right: 80%; }
  .sushi { bottom: 55%; left: 80%; }
  .cupcake { bottom: 55%; right: 80%; }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  .login-box {
    position: relative;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  
  .login-box:hover {
    transform: scale(1.05);
  }
  
  .login-box h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
  }
  
  .login-box input {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #6495ED;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
    text-align: center;
  }
  
  .login-box input:focus {
    outline: none;
    border-bottom: 2px solid #7B68EE;
  }
  
  .login-box button {
    padding: 15px 30px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  
  .login-box button:hover {
    background-color: #7B68EE;
  }

  .login-box button {
    padding: 15px 30px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  
  .login-box button:hover {
    background-color: #7B68EE;
  }
  
  .login-box button:disabled {
    background-color: #add8e6;
    cursor: not-allowed;
    opacity: 0.7;
  }
  