.recipe-page {
  text-align: center;
  padding: 20px;
}

.page-title {
  margin-top: 60px;
}

.back-button {
  padding: 10px 20px;
  background-color: #6495ED;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button:hover {
  background-color: #7B68EE;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 2px solid #6495ED;
  border-radius: 5px;
  width: 60%;
  max-width: 400px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #6495ED;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #7B68EE;
}

.recipes-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.recipe-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #2c3e50;
}

.recipe-detail {
  font-size: 0.9em;
  color: #666;
}

.recipe-detail-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.loader, .error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ingredients-list {
  list-style: none;
  padding: 0;
}

.ingredients-list h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.ingredients-list ul {
  list-style-type: none;
  padding: 0;
}

.ingredients-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 8px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-summary {
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify;
}


.ingredients-section {
  margin-top: 30px;
}

.similar-recipes-section {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
}

.similar-recipes-list {
  list-style: none;
  padding: 0;
}

.similar-recipes-list li {
  background: #f7f7f7;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #3498db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.similar-recipes-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.similar-recipes-list li a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.similar-recipes-list li a:hover {
  color: #3498db;
}

.select-recipes-container {
  text-align: center;
  padding: 20px;
}

.recipe-bubble {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  user-select: none;
}

.recipe-bubble.selected {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
}

.recipe-bubble:hover {
  transform: scale(1.1);
}

.next-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1em;
}

.next-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.next-button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.rating-section {
  margin-top: 20px;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 2em;
}

.star {
  cursor: pointer;
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.star:hover, .star:hover ~ .star {
  color: #ccc
}

.star.selected {
  color: #f4c542;
}