.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
  }
  
  .main-content {
    text-align: center;
  }
  
  .main-content h1 {
    margin-bottom: 40px;
    color: #333;
    font-size: 3em;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .buttons-container button, .sign-out-button {
    padding: 25px 120px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
  }
  
  .buttons-container button:hover, .sign-out-button:hover {
    background-color: #7B68EE;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .back-button:hover {
    background-color: #7B68EE;
  }